/data/library/*.fastq.gz
/data/samples/*.fastq.gz
/data/library/*.fasta.gz
/results/01_match/*
/results/02_count/*
/results/03_model/*
/results/04_compare/*
/logs/*.err
/logs/*.out
/src/05_MPRA_downstream/